version: '3.8'

services:
  server:
    build:
      context: .
      dockerfile: Dockerfile.server
    container_name: web_server
    ports:
      - "8080:8080"
    networks:
      - custom_network

  client:
    build:
      context: .
      dockerfile: Dockerfile.client
    container_name: request_client
    networks:
      - custom_network
    depends_on:
      - server

networks:
  custom_network:
    driver: bridge
